{% extends "cubica/base.html" %}

{% block content %}
 
    <div class="container-fluid">
        <div class="row">
            <div class = "col-lg-6">
                <br>
                <div class="card">
                    
                    <img class="card-img-top" src="{{ post.pic.url }}" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title" >
                            {{post.post_name}}
                        </h4>
                        <p class="card-text">
                            <p> Posted by: <a href="{% url 'cubica:profile' post.person.id %}">{{post.person.user.username}}</a></p>
                            <p><span style="color: grey"> {{post.pub_date|date:"d. m. Y, H:i"}}</span></p>
                        </p>
                    </div>
                    <div class="card-body">
                        <p>{{post.post_text}}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <br>
                <div class="card">
                    
                    <div class="card-body">
                        
                        <h4 class="card-title">
                            Comment Section
                        </h4>
                        <ul class="list-group list-group-flush">
                            {% for comment in post.comment_set.all %}
                            <li class="list-group-item">
                                <p><i class="fa-solid fa-user-pen"></i> <a href="{% url 'cubica:profile' comment.person.id %}">{{comment.person.user.username}}</a> wrote:</p>
                                <p><h6><small><i class="fa-solid fa-clock"></i>  <span style="color: grey"> {{comment.pub_date|date:"d. m. Y. H:i"}}</span></small></h6></p>
                                {{ comment.comment_text }}
                            </li>
                                
                            {% endfor %}
                            <li class="list-group-item">
                                <h4>Add Comment</h4>
                                <form action= "{% url 'cubica:postcomment' post.id %}" method= "post">
                                    {% csrf_token %}
                                    {{comment_form.as_p}}
                                    <input type = "submit" value = "Submit">
                                </form>
                            </li>
                        </ul>

                    </div>
                    
                </div>
                    
                    
            </div>
        </div>
    </div>








                
    

        

    
{% endblock %}