{% extends "cubica/base.html" %}
{% load static %}
    {% block content %}
                        

            {% if groups %}
                <div class=container-fluid>
                    <div class="row">
                        {% for g in groups %}
                            <div class="col-lg-4">
                                <br>
                                <div class="card text-center">
                                    <img class="card-img-top" src="{{ g.subcube_pic.url }}" alt="Card image cap">
                                    <div class="card-body">
                                        <h4 class="card-title" >
                                            <a href="{% url 'cubica:group_detail' g.id %}"> {{g.subname}} </a>
                                        </h4>
                                    </div>
                                    <!--<div class="card-body">
                                        <p>{{post.post_text}}</p>
                                    </div>-->
                                </div>
                                
                            </div>
                            
  
                        {% endfor %}

                    </div>

                    
                </div>
                

                
                
            {% else %}
                <p>No groups available right now.</p>
            {% endif %}

          

    {% endblock %}