{% extends "cubica/base.html" %}

    {% block content %}
  
    <ul>
    
        
        
        
    
    
    </ul>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <li><a href="{% url 'cubica:latest' %}"> Latest posts </a></li>
                <li><a href="{% url 'cubica:groups' %}"> SubCubes </a></li>
                <li><a href="{% url 'cubica:profile'  %}"> My Profile </a></li>
            </div>
            <div class="col-lg-4">
                <ul></ul>
                    {% for post in first_posts %}
                    <p1><img src="{{ post.pic.url }}" class="img-fluid" alt="Responsive image"></p1>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-lg-4">
                <ul>
                    {% for post in second_posts %}
                    <p1><img src="{{ post.pic.url }}" class="img-fluid" alt="Responsive image"></p1>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

       
          

    {% endblock %}