{% extends "cubica/base.html" %}

    {% block content %}
             
        {% if user.is_authenticated %}
            

            {% if latest_post_list %}
                
                <ul>
                {% for post in latest_post_list %}
                    
                    Post from user  <li><a href="{% url 'cubica:detail' post.id %}"> {{post.person}} </a></li>
                    <!--<li><a href="{% url 'cubica:detail' post.id %}"> {{post.person}} {{ post.post_text }}</a></li>-->
                {% endfor %}
                
                </ul>
            {% else %}
                <p>No posts are available.</p>
            {% endif %}
        {% else %}
            <p>You are not logged in</p>
            <a href="{% url 'login' %}">Log In</a>
            
        {% endif %}
          

    {% endblock %}