{% extends "cubica/base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-5 sidenav">
      <br>
      <div class="card">
        
        <img class="card-img-top" src="{{ person.profile_pic.url }}" alt="Card image cap">


        <div class="card-body">
          
          <form action="{% url 'cubica:changepicture' person.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {{change_picture.as_p}}
            <input type="submit" class="btn btn-danger" value="Submit Picture">
          </form>
          <hr>
          <h3 class="card-title text-center">
            {{person.user.username}}
          </h3>

        </div>
        <div class="card-body">
          <p><i class="fa-solid fa-circle-info"></i> {{person.bio}}</p>
        </div>
      </div>


    </div>
    <div class="col-sm-7">
     
      <br>
      <div class="container text-center">
        <h3>User Achievements</h3>
      </div>
      <ul class="list-group">
        {% for a in achievements%}
        
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{a.achievement_text}}
          <span class="badge badge-danger badge-pill"><i class="fa-solid fa-circle-check"></i></span>
        </li>

        {% endfor %}


      </ul>

    </div>
  </div>
</div>





{% endblock %}