{% extends "cubica/base.html" %}

{% block content %}
{% if messages %}
    <div class=container>
        <h2>
            <br>
            These are your received posts
        </h2>
        <hr><br>
        <div class="card" >
            <ul class="list-group list-group-flush">
             
              {% for message in messages %}
                <li class="list-group-item">
                    <i class="fa-solid fa-inbox"></i> <a href="{% url 'cubica:profile' message.sender.id %}">{{message.sender.user.username}}</a>  shared post <a href="{% url 'cubica:detail' message.shared_post.id %}"> {{message.shared_post.post_name}} </a>
                    with you at {{message.sent_date|date:"d. m. Y, H:i"}}
                
                    </li>
                            
              {% endfor %}
            </ul>
        </div>


        
    </div>
{% else %}
<div class="container text-center">
    <br>
    <h2>
        You have not received any posts yet.
    </h2>

</div>
{% endif %}
    

{% endblock %}